.right-sidebar {
  float: right;
  width: 18.75rem;
  margin: 2.5rem 0rem 1rem 1.5rem;
  font-size: 1rem;
}

.widget {
  margin-top: 1rem;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
}
.widget h4 {
  background-color: #fbf3d5;
  margin: 0%;
  padding: 16px;
  border: solid 1px #f1e5bc;
}
.right-sidebar-div-1 {
  background-color: #fdf7e2;
  padding: 1rem;
  border: solid 1px #f1e5bc;
}
.right-sidebar-div-1 .right-sidebar-div-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.right-sidebar-div-1 .right-sidebar-div-2 p {
  padding-left: 0.7rem;
  margin-top: 0%;
}
.widget-tags {
  margin-top: 2.2rem;
  background-color: #f8f9f9;
  border: solid 1px #e3e6e8;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.05),
    0 2px 8px hsla(0, 0%, 0%, 0.05);
}
.widget-tags h3 {
  margin: 0%;
  padding: 1rem;
  background-color: #f8f9f9;
  border: solid 1px #e3e6e8;
}
.widget-tags-div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.7rem;
}

.widget-tags-div p {
  padding: 5px;
  background-color: #e1ecf4;
  color: #39739d;
  border-radius: 2px;
  font-size: 1rem;
}
