.main-nav {
  min-height: 3.12rem;
  width: 100%;
  margin: 0% auto;
  box-shadow: 0px 1px 5px #00000033;
  border-top: solid 3px #ef8236;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #f8f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-width: 85%;
}
.nav-logo {
  padding: 0.3rem 1.5rem;
}
.nav-item {
  text-decoration: none;
  transition: 0.2s;
  margin: 0 0.2rem;
  font-size: small;
  font-weight: 400;
  color: rgba(69 69 69);
}
.nav-btn {
  cursor: pointer;
  border-radius: 1.25rem;
  padding: 0.6rem 1.25rem;
}
.nav-item:hover {
  background-color: rgb(220, 220, 220);
}
.navbar form {
  flex-grow: 1;
  padding: 0 0.75rem;
  position: relative;
}
.navbar form input {
  min-width: 90%;
  margin: 0;
  padding: 0.5rem 0.6rem 0.5rem 2rem;
  font-size: .85rem;
  border-radius: .25rem;
  border: solid 1px rgba(61, 61, 61, 0.325);
}
input:focus {
    outline: solid .2rem rgba(75, 136, 243, 0.325);
    border: solid 1px rgba(14, 82, 228, 0.325);

}
.navbar form .Search-icon{
    position: absolute;
    left: 1.2rem ;
    top: .4rem;
}

.nav-link{
    background-color: rgb(190, 226, 248);
    border: solid 1px blue;
    padding: .35rem .8rem ;
    border-radius: .15rem;
    cursor: pointer; 
    
}
.nav-link :hover{
     background-color: #d3e4eb;
}